@import url(https://fonts.googleapis.com/css?family=Quattrocento:400,700);
@import url(https://fonts.googleapis.com/css?family=Oswald);

.logo {
	color: #edf1f2;
	font-family: 'Quattrocento', serif;
}

.logo .tagline {
	font-family: 'Quattrocento', serif;
}
.logo-dark {
	color: #303333;
	font-family: 'Quattrocento', serif;
}

.thumbnail-first-word {
	font-family: 'Oswald', sans-serif;
	color: #f2d653;
}

.thumbnail-text {
	font-family: 'Quattrocento', serif;
	color: #edf1f2;
}

.section-header {
	font-family: 'Oswald', sans-serif;
}

.tab-header {
	font-family: 'Oswald', sans-serif;
}

.footer {
	background-color: #000;
}